html {
    box-sizing: border-box;
    --blue:#3b82f6;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

html,body{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    margin:0px;
    padding:0px;
    font-family: "Roboto";
    color:white;
    font-weight: bold;
}

body{
    display:flex;
    justify-content: center;
    background-color: black;
}

body>div{
    height:100%;
    max-height:100%;
}

div{
    border: none;
}

h2{
    padding:0;
    margin:0;
}

#main-container{
    width:80%;
    height:100%;
    margin:0px;
    padding:0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar{
    background-color:var(--blue);
}

#sidebar-header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap:50px;
    align-items: center;
    border:none;
    margin-bottom: 125px;
    padding-left:50px;
}

#sidebar-header-image{
    height: 170px;
}

#sidebar-heading{
    font-size:80px;
}

#first-sidebar-container{
    margin-bottom: 150px;
}

li{
    display:grid;
    grid-template-columns: 0.9fr 5fr;
    grid-template-rows: 150px;
    gap:80px;
}

.icon{
    height: 70px;
    filter:invert(100%) sepia(0%) saturate(0%) hue-rotate(338deg) brightness(102%) contrast(105%);
    justify-self: right; 
}

.icon-text{
    font-size: 60px;
    border: none;
}


.sidebar-container{
    display:grid;
    list-style:none;
}

.sidebar-container.first{
    margin-bottom: 100px;
}

#main-body{
    max-height: 100%;
    height:100%;
    background-color: white;
    display:grid;
    grid-template-rows: auto 1fr;
    color:black;
}

#header{
    box-shadow: 1px 9px #E5E7EB;
    padding-bottom: 12px;
}

#header-top-section{
    margin-top:40px;
    display:flex;
    gap: 60px;
    align-items:center;
}

.header-icon:nth-child(1){
    margin-left:100px;
}

.header-icon:nth-child(3){
    margin-left:300px;
}

.header-icon{
    height:75px;
}

#search{
    flex-grow:1;
    height:100px;
    border-radius: 100px;
}

.mini-profile-picture{
    height:150px;
    border-radius: 50%;
}

#top-username{
    margin-right: 250px;;
    font-size: 60px;
    font-weight: 800;
}

#main-header-section{
    height: 240px;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    margin: 80px 120px 50px;
    padding-right:30px;
}

#profile-section{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: min-content auto;
    column-gap: 60px;
    row-gap:30px;
}

#main-profile-picture{
    height: 240px;
    border-radius: 50%;
    grid-row: 1/3;
}

#side-text{
    font-size:40px;
    align-self: end;
}

#profile-name{
    font-size:70px;
    align-self: start;
}

#options-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    height:100px;
    background-color:var(--blue);
    border-radius: 100px;
    width:300px;
    height:115px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:45px;
    color:white;
}

#main-content{
    display:grid;
    grid-template-columns: 3fr 1.2fr;
    gap:60px;
    padding: 75px 100px 130px;
    color:black;
}


#cards-container{
    display: grid;
    grid-template-rows: auto 1fr;
}

.header{
    font-size:60px;
}

#cards-header{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: bold;
    color: black;
}

#cards{
    max-height: 100%;
    height:80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:108px;
    padding-top: 5px;
}

.card{
    display: grid;
    grid-template-rows: 1fr 0.8fr;
    padding:100px 30px;
    padding-left: 57px;
    font-size:50px;
}

.card-title{
    font-size:60px;
}

.card-text{
    padding-right:100px;
}

.card-icons{
    display:flex;
    align-items:flex-end;
    justify-content: flex-end;
    gap:20px;
}

.card-icon{
    height:75px;
}

#side-content{
    display:grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
    padding:0px 30px 0px;
}

#cards>div,#announcments-content{
    border: 3px black solid;
}

#announcments{
    display:flex;
    flex-direction: column;
}

#announcments-header{
    margin-bottom: 20px;
}

.announcment{
    padding:40px 0px;
}

.announcment:not(:nth-child(3)){
    border-bottom: black solid 1px;
}

#announcments-content{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    padding:65px 94px 0px;
}

.announcment-header{
    font-size: 50px;
}

.announcment-text{
    font-size:35px;
}

#trending{
    display:flex;
    flex-direction: column;
    font-size:40px;
}

#trending-header{
    margin-bottom:20px;
}

#trending-content{
    border:3px solid black;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    gap:80px;
    padding:40px 50px;
}

.side-profile-names{
    font-weight: bold;
    font-size:40px;
}

.project-name{
    font-size:40px;
    font-weight: 400;
}

.currently-trending-project{
    display: grid;
    grid-template-columns: min-content auto;
}

.trending-project-text{
    margin-left:40px;
    align-self:center;
}




